body{
	background-color: #fbf7de;
	background-image: url("bg.png");
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	}

*{ /* reset rule*/
	margin: 0px;
	padding: 0px;
}

.header
{
	height: 100px;
	font-family: "Futura LT";
}

.header img
{
	width: 310px;
	height: 85px;

}

.header ul
{
	float: right;
	list-style-type: none;
	padding-top: 50px;

}

.header ul li 
{	
	font-size: 15pt;
	display: inline-block;
	margin: auto 20px auto 0px;
	color: #2D486A;
}

@media (max-width: 768px)
{
	.header
	{
		height: 70px;
	}

	.header img
	{
		padding-left: 10px;
		padding-top: 10px;
		width: 200px;
		height: 55px;
	}
	.header ul
	{
		padding-top: 40px;
		margin-right: 60px;
	}
	.header ul li
	{
		font-size: 10pt;
	}
}


.infobodyheader
{
	font-family: "Futura LT";
	color:#2D486A;
}

.infobodyheader h1
{
	font-size: 20pt;
	font-weight: 500;
	padding-top: 20px;
}



.infobodyheader2
{
	font-family: "Futura LT";
	margin-top: 30px;
	height: 60px;
	background-color: #2D486A;
}

.infobodyheader2 h1
{
	color: #fbf7de;
	font-size: 20pt;
	font-weight: 500;
	padding: 20px;
}

.infobody
{
	font-family: "Futura LT";
	color: #2D486A;
	background-color: white;
	height: 400px;
}

.infobody
{
	
	font-weight: 500;
}

.infobody ul
{
	list-style-type: none;
	padding-top: 20px;
	padding-left: 50px;
}

.infobody ul li
{	
	font-size: 15pt;
	margin-bottom: 10px;
}

@media(max-width: 768px)
{
	.infobodyheader h1
	{
		font-size: 20px;
	}

	.infobodyheader2
	{
		height: 40px;
		margin-top: 15px;
	}
	.infobodyheader2 h1
	{
		font-size: 15pt;
		padding: 10px;
	}
	.infobody
	{
		height: 300px;
	}
}