@charset"UTF-8";

body{
	background-color: #fbf7de;
	background-image: url("bg.png");
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	}

*{ /* reset rule*/
	margin: 0px;
	padding: 0px;
}

.header
{
	height: 100px;
	font-family: "Futura LT";
}

.header img
{
	width: 310px;
	height: 85px;

}

.header ul
{
	float: right;
	list-style-type: none;
	padding-top: 50px;


}

.header ul li 
{	
	font-size: 15pt;
	display: inline-block;
	margin: auto 20px auto 5px;
	color: #2D486A;
}

@media (max-width: 768px)
{
	.header
	{
		height: 70px;
	}

	.header img
	{
		padding-left: 10px;
		padding-top: 10px;
		width: 200px;
		height: 55px;
	}
	.header ul
	{
		padding-top: 40px;
		margin-right: 60px;
	}
	.header ul li
	{
		font-size: 10pt;
	}
}

.table
{
	background-color: #2D486A; 

}

.table th
{
	color: #fbf7de;
}

.table td
{
	background-color: white;
}